name: Build and Release

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      MY_JAR: "ccbot-launcher/build/libs/CCBot.jar"

    steps:
      - uses: actions/checkout@v6 # https://github.com/actions/checkout

      - name: Setup Gradle # https://github.com/gradle/actions
        uses: gradle/actions/setup-gradle@v5

      - name: Chmod Gradlew
        run: chmod +x ./gradlew

      - name: Set up JDK 25 # https://github.com/actions/setup-java
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew build

      - name: Generate sha256sum
        run: sha256sum "$MY_JAR" >> hash.txt

      - name: Delete Old Release
        run: gh release delete latest --yes --cleanup-tag || true
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy Release With Artifact # https://github.com/softprops/action-gh-release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "latest"
          body: |
            Automated build from commit ${{ github.sha }}
          make_latest: true
          files: |
            ${{ env.MY_JAR }}
            hash.txt